.nextflow*
work/*
results/*
.idea/*
.github/data/metadata
.github/data/sequence
.DS_store
testing/*
*.ipynb
latest_gvf/*
latest_tsv/*
latest_pdf/*
bin/__pycache__/*
weekly_data/*
*.sh
*.error
*.out
.gitignore