process {
    withName: vcfTotsv {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: tagProblematicSites {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: annotate_mat_peptide {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: viralai_metadata {
        conda = "$baseDir/environments/viralai.yml"
    }
    withName: viralai_multifasta {
        conda = "$baseDir/environments/viralai.yml"
    }
}
